
<%= pb_rails("nav", props: { orientation: "horizontal", }) do %> 
    <div class='navbar'>
        <%= pb_rails("nav/item", props: { text: "Dashboard",  active: true  }) %>
        <%= pb_rails("nav/item", props: { text: "Products", link: "#"}) %>
        <%= pb_rails("nav/item", props: { text: "In Progress ", link: "#" }) %>
        <%= pb_rails("nav/item", props: { text: "Settings", link: "#" }) %>
    </div>
<% end %>

