
<div class='right-container'>
<%= pb_rails('card', props: { border_none: true, padding:'none',  border_radius: 'none'}) do %>
    <div class='right-grid'>
        <% ticket_data.each_slice(1) do |tickets| %>
            <%= pb_rails('card', props: {border_radius: 'none',  padding: 'md', align_items: 'center', justify_content: 'center' }) do %>
                <% tickets.each do |ticket| %>
                 
                    <%= pb_rails('flex', props: {}) do %>
                        <span class="fa-stack fa-2x">
                            <i id='ticket-icons', class="fa fa-circle fa-stack-2x tester" style="color:<%= ticket[:variant] %>  "></i>
                            <i class="fa <%= ticket[:icon] %> fa-stack-1x" style="color:<%= ticket[:variant] %>  "></i>
                        </span>
                            
                        <%= pb_rails('flex', props: {align: 'baseline', orientation: 'column'}) do %>
                            <%= pb_rails("title", props: { text: ticket[:value], tag: "h2", size: 2 }) %>
                            <%= pb_rails("caption", props: {text: ticket[:text]}) %>
                        <%end%>
                    <%end%>
                <% end %>
            <% end %>
        <% end %>
    </div> 
<%end%>
</div>
                                  
                                       
                                             
                                          
                                                
                                   


                
                
                
                    
                <% ticket_data = [
    { icon:  "fa-ticket", variant: "rgba(0, 128, 128, 0.58)", size: "sm", text: "Tickets (YTD)", value: 1426 },
    { icon:  "times-square", variant: "red", size: "sm", text: "Overdue", value: 25 },
    { icon:  "tasks", variant: "teal", size: "sm", text: "Closed Without Action (YTD)", value: 97 },
    { icon:  "exclamation-triangle", variant: "yellow", size: "sm", text: "Escalated (YTD)", value: 896 },
] %>
                

                

