<%= pb_rails("flex", props:{justify: "center" }) do%>
    <%= pb_rails("caption", props: { text: "This Weeks Ticket Escalations", size: 'xs', margin_y: 'sm'}) %>
<% end%>



<div class='escalations-container'>
<%# <%= pb_rails("flex", props:{ wrap: true}) do%> 
    <%card_list.each do |card|%>
    <% filtered_tix = @tickets.filter {|ticket| ticket[:category].upcase == card[:title]} %>
        <%= pb_rails("flex/flex_item", props:  {fixed_size: "250px",  margin_bottom: "sm"}) do %>
            <%= pb_rails("card", props: {highlight: {position: "side", color: card[:tab_color]}}) do %>
                <%= pb_rails("flex", props:{justify: "evenly"}) do%>
                    <%= pb_rails("caption", props: {text: card[:title], color: 'lighter', size: 'xs'}) %> 
                    <%= pb_rails("label_pill", props: {pill_value: filtered_tix.size, variant: card[:tab_color]}) %> 
                <%end%>
            <% end %>

              
                <% if filtered_tix.size > 6 %>
                    <% filtered_tix.slice(0,6).each do |ticket|%>
                        <% employee_avatar_url = Employee.get_avatar_url(ticket[:employee_id]) %>
                            <%# <%= link_to root_path do%> 
                                <div class='escalation-cards'>
                                    <%= pb_rails("flex", props:{align: 'center', justify: 'between'}) do%>
                                        <%= pb_rails("avatar", props: {size: "xs", image_url: employee_avatar_url}) %>
                                        <%= pb_rails("caption", props: {text: ticket[:error_type], color: 'lighter', size: 'xs'}) %> 
                                        <%= pb_rails("icon", props: { icon: "chevron-right", size: "xs" }) %>
                                    <%end%>
                                </div>
                            <%# <%end%> 
                    <% end %>
                            
                          
                
                <%else%>
                    <% filtered_tix.each do |ticket|%>
                        <% employee_avatar_url = Employee.get_avatar_url(ticket[:employee_id]) %>
                         <div class='escalation-cards'>
                            <%= pb_rails("flex", props:{align: 'center', justify: 'between'}) do%>
                                <%= pb_rails("avatar", props: {size: "xs", image_url: employee_avatar_url}) %>
                                <%= pb_rails("caption", props: {text: ticket[:error_type], color: 'lighter', size: 'xs'}) %> 
                            <%= pb_rails("icon", props: { icon: "chevron-right", size: "xs" }) %>
                            <%end%>
                        </div>
                    <% end %>
                <%end%>
                
             
                <% if filtered_tix.size > 6 %>
                     <div class='escalation-cards'>
                        <%= pb_rails("flex", props:{align: 'center', justify: 'between'}) do%>
                            <%= pb_rails("detail", props: {text: 'Show More', color: 'link', size: 'xs'}) %> 
                        <%end%>
                    </div>
                <% end %>
                      

        <% end %>
    <% end %>
 <%# <% end %> 
</div>     

           
                


          