
 <% card_list = [
  { title: "NEW", tab_color: "info", pill_value: 25 },
  { title: "MANAGER FEEDBACK", tab_color: "primary", pill_value: 5 },
  { title: "PROCESSING", tab_color: "warning", pill_value: 3 },
  { title: "AWAITING FEEDBACK", tab_color: "error", pill_value: 2 },
  { title: "APPROVED", tab_color: "success", pill_value: 15 },
] %>

 <% pipeLine_data = [
  { label: "Add to Cart", percent: 100.0, value: 2577 },
  { label: "Shopping Cart", percent: 79.0, value: 2023 },
  { label: "Payment Methods", percent: 59.0, value: 1567 },
  { label: "Delivery Methods", percent: 56.0, value: 1252 },
  { label: "Confirm", percent: 49.0, value: 1182 },
  { label: "Delivery", percent: 46.0, value: 1098 },
] %>

<% ticket_data = [
    { icon:  "ticket-alt", variant: "green", size: "sm", text: "Tickets (YTD)", value: 1426.0 },
    { icon:  "times-square", variant: "red", size: "sm", text: "Overdue", value: 25.0 },
    { icon:  "tasks", variant: "teal", size: "sm", text: "Closed Without Action (YTD)", value: 97.0 },
    { icon:  "exclamation-triangle", variant: "yellow", size: "sm", text: "Escalated (YTD)", value: 896.0 },
] %>


<%= render 'global/header' %>


<%= render 'navigation_topbar' %>

<%= pb_rails("section_separator") %>
<br/>

<div class=main-container>

  <%= pb_rails("caption", props: { text: "DASHBOARD", size: 'xs' }) %>
  <%= pb_rails("title", props: { text: "Commerce Dashboard", tag: "h3", size: 3, bold: false })%>

  <%= render 'performance_graph' %>

  <%= render 'ticket_escalations', card_list: card_list %>

  <div class='big-grid'>
      <%= render 'pipeline_chart', pipeLine_data: pipeLine_data %>
      <%= render 'ticket_grid', ticket_data: ticket_data %>
  </div>

</div>

  
  











 <%#=  react_component("App") %>


<%# <%= pb_rails("button", props: { text: "Button Primary", margin_right: "lg" }) %> 
